.home.post-list {
    .post-list-item {
        margin: 0 0 1em 0;
        padding: 1em 2em 2em;
        background-color: white;
        background: #fff 50%;
        background-size: cover;
        border-radius: 5px;
        box-shadow: 0 0 1px rgba(39,44,49,.1), 0 3px 16px rgba(39,44,49,.07);
        transition: all .3s ease;
        &:hover {
            box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
            transition: all .5s ease;
            transform: translate3D(0,1px,0);
        }
    }
    
    .post-content{
        h2, h3, h4, h5, h6 {
            &:before {
                content: '';
            }
        }
        & > ul {
            list-style: initial;
        }
    }
    .read-more {     
        color: #42b983;
    }
}